/* style sheet */

:root {
    --button-color: rgb(40, 37, 37);
    --button-txt: white;
    --theme-color: rgb(68, 68, 235)

}






/* === nav/search section start ==================================== */
form .search-bar {

}



/* sear history */
.history-button {
    color:var(--button-txt);
    background-color: var(--button-color);
    border: solid 5px var(--theme-color);
    margin:30px 0px;

}
/* === nav/search section end ==================================== */



/* === Styling for forecast blocks start ========================== */


/* === Styling for forecast blocks end ========================== */