/* style sheet */

:root {
    --button-color: rgb(4, 4, 4);
    --button-txt: white;
    --theme-color: rgb(68, 68, 235)

}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: rgb(54, 54, 178);

}

header h1{
    font-weight:900;
}




/* === nav/search section start ==================================== */
nav h2 {
    font-weight: bold;
}

#history-refresh {
    background-color: rgb(104, 160, 200);
    padding: 2px 10px;
    font-weight: bold;
}

/* sear history */
.history-button {
    color:var(--button-txt);
    background-color: var(--button-color);
    border: solid 5px var(--theme-color);
    margin:30px 0px;
    font-weight: bold;

}

/* #city-input {
    margin-right: 90px;
} */
/* === nav/search section end ==================================== */



/* === Styling for forecast blocks start ========================== */

main p {
    font-weight: bold;
    font-size: 15px;
}


.five-cast {
    margin: 0 10px;
    padding: 10px;
}

/* === Styling for forecast blocks end ========================== */


.icon-class {
   height: 20%;
   margin: 0 25px;
   width: auto;

}